<%= form_with(model: character_contact, local: true) do |form| %>
  <% if character_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character_contact.errors.count, "error") %> prohibited this character_contact from being saved:</h2>

      <ul>
      <% character_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%#Need a more elegant way of doing this unfortunatly ...%>
  <div class="field">
    <%= form.label :contact_id %>
    <%= form.text_field :contact_id %>
  </div>

  <div class="field">
    <%= form.label :character_id %>
    <%= form.text_field :character_id %>
  </div>

  <div class="field">
    <%= form.label :loyalty %>
    <%= form.number_field :loyalty %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
