<p id="notice"><%= notice %></p>

<h1>Character Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Contact Name</th>
      <th>Character Alias</th>
      <th>Loyalty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @character_contacts.each do |character_contact| %>
      <tr>
        <td><%= character_contact.contact.name %></td>
        <td><%= character_contact.character.alias %></td>
        <td><%= character_contact.loyalty %></td>
        <td><%= link_to 'Show', character_contact %></td>
        <td><%= link_to 'Edit', edit_character_contact_path(character_contact) %></td>
        <td><%= link_to 'Destroy', character_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character Contact', new_character_contact_path %>
