<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @character_contact.contact %>
</p>

<p>
  <strong>Character:</strong>
  <%= @character_contact.character %>
</p>

<p>
  <strong>Loyalty:</strong>
  <%= @character_contact.loyalty %>
</p>

<%= link_to 'Edit', edit_character_contact_path(@character_contact) %> |
<%= link_to 'Back', character_contacts_path %>
