<h1>Available Items</h1>
<table>
    <thead>
        <tr>
            <th>Item ID</th>
            <th>Item Name</th>
            <th>Availbility</th>
            <th>Cost (in Nuyen)</th>
            <th>Unit Size</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
        <% @available_items.each do |item| %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.name %></td>
                <td><%= item.availibility %></td>
                <td>¥<%= item.cost %></td>
                <td><%= item.cost_for %></td>
                <td><%= "#{item.source}: #{item.page}"%>
            </tr>
        <% end %>
    </tbody>
</table>