<h1>Available Qualities:</h1>

<table>
    <thead>
        <tr>
            <th>Quality Name</th>
            <th>Type</th>
            <th> Karma</th>
        </tr>
    </thead>
    <tbody>
        <% @available_qualities.each do |quality| %>
            <tr>
                <td><%= quality.name %></td>
                <td><%= quality.category %></td>
                <td><%= quality.karma%></td>
            </tr>
        <% end %>
  </tbody>
</table>