<h1>Available Skills:</h1>

<table>
    <thead>
        <tr>
            <th>Skill Name</th>
            <th>Type</th>
            <th>Attrib</th>
            <th>Skill Group</th>
        </tr>
    </thead>
    <tbody>
        <% @available_skills.each do |skill| %>
            <tr>
                <td><%= skill.name %></td>
                <td><%= skill.category %></td>
                <td><%= skill.skill_attribute%></td>
                <td><%= skill.skill_group%></td>
            </tr>
        <% end %>
  </tbody>
</table>