<h1>Debug Homepage</h1>
<hr/>
<h3>Debug Scaffolds</h3>
<%= link_to 'Character Scaffold', characters_path %><br/>
<%= link_to 'Contacts Scaffold', contacts_path %><br/>
<%= link_to 'Character Contacts Scaffold', character_contacts_path %><br/>
<%= link_to 'Chummer Download', controller: 'chummer_download', action: 'index' %><br/>
<hr/>
<h3>Listing Debug</h3>
<%= link_to 'Skill Listings', controller: 'listing_debug', action: 'skills' %><br/>
<%= link_to 'Quality Listings', controller: 'listing_debug', action: 'qualities' %><br/>
<%= link_to 'Item Listings', controller: 'listing_debug', action: 'items' %><br/>