<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Connection</th>
      <th>Location</th>
      <th>Archetype</th>
      <th>Metatype</th>
      <th>Sex</th>
      <th>Age</th>
      <th>Prefered Payment</th>
      <th>Hobbies/Vice</th>
      <th>Personal Life</th>
      <th>Notes</th>
      <th>Group</th>
      <th>Visible</th>
      <th>Player custom</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.connection%></td>
        <td><%= contact.location %></td>
        <td><%= contact.archetype %></td>
        <td><%= contact.metatype %></td>
        <td><%= contact.sex %></td>
        <td><%= contact.age %></td>
        <td><%= contact.prefered_payment %></td>
        <td><%= contact.hobbies_vice %></td>
        <td><%= contact.personal_life %></td>
        <td><%= contact.notes %></td>
        <td><%= contact.group %></td>
        <td><%= contact.visible %></td>
        <td><%= contact.player_custom %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
