<p id="notice"><%= notice %></p>

<table class='contact_border'> 
  <thead>
    <tr>
      <th colspan=2>Name</th>
      <th>Contact Type</th>
    </tr>
  </thead>
  <tbody>
    <td colspan=2 style='text-align:center'><%= @contact.name %></td>
    <td><%= @contact.contact_type %></td>
  </tbody>
  <thead>
    <tr>
      <th>Connection</th>
      <th>Location</th>
      <th>Archetype</th>
    </tr>
  </thead>
  <tbody>
    <td><%= @contact.connection %></td>
    <td><%= @contact.location %></td>
    <td><%= @contact.archetype %></td>
  </tbody>
  <thead>
    <tr>
      <th>Prefered Payment</th>
      <th>Hobbies/Vice</th>
      <th>Personal Life</th>
    </tr>
  </thead>
  <tbody>
    <td><%= @contact.prefered_payment %></td>
    <td><%= @contact.hobbies_vice %></td>
    <td><%= @contact.personal_life %></td>
  </tbody>
  <tbody>
    <td colspan=2><%= link_to 'Edit', edit_contact_path(@contact) %></td>
    <td><%= link_to 'Delete', @contact, method: :delete, data: { confirm: "Are you sure?\n The folowing Characters will be effected: \n#{}" } %></td>
  </tbody>
</table>
<p>
  <strong>Notes:</strong>
  <%= simple_format(@contact.notes) %>
</p>

<p>
  <strong>Data:</strong>
  <%= @contact.data %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @contact.visible %>
</p>

<p>
  <strong>Player custom:</strong>
  <%= @contact.player_custom %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
