<h1>Characters</h1>

<table>
  <thead>
    <tr>
      <th>Alias</th>
      <th>Name</th>
      <th>Mugshot</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.alias %></td>
        <td><%= character.name %></td>
        <td><%= image_tag "data:image/jpeg;base64,#{character.images[0]}", style:"width:200px;"%></td>
        <td><%= link_to 'Show', character %></td>
        <td><%= link_to 'Edit', edit_character_path(character) %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Upload Chummer file', character_upload_path %>
<br>
<%= link_to 'New Character', new_character_path %>
