<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>
<p>
  <strong>Alias:</strong>
  <%= @character.alias %>
</p>
<table>
  <thead>
    <tr>
      <th>Contact</th>
      <th>Connection</th>
      <th>Loyalty</th>
      <th>Archetype</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
  <% @character.character_contact.each do |character_contact| %>
    <tr>
      <td><%= link_to character_contact.contact.name, character_contact.contact %></td>
      <td><%= character_contact.contact.connection %></td>
      <td><%= character_contact.loyalty %></td>
      <td><%= character_contact.contact.archetype %></td>
      <td><%= character_contact.contact.location %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<table>
  <thead>
    <th>Attribute</th>
    <th>Total</th>
  </thead>
  <tbody>
    <% @character.character_attribute.each do |attrib| %>
      <tr>
        <td><%= attrib.name %></td>
        <td><%= attrib.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Skill Name</th>
      <th>Specialization</th>
      <th>Total Points</th>
    </tr>
  </thead>
  <tbody>
    <% @character.character_skill.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= skill.specialization %></td>
        <td><%= skill.total %>
      </tr>
    <% end %>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th>Quality Name</th>
      <th>Quality Extra</th>
    </tr>
  </thead>
  <tbody>
    <% @character.character_quality.each do |quality| %>
      <tr>
        <td><%= quality.name %></td>
        <td><%= quality.extra %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% @character.character_item.each do |item| %>
  <% unless item.has_parent? %>
    <%= render "character_items/item_render", item: item %>
  <% end %>
<% end %>
<p>
  <strong>Data:</strong>
  <%= @character.data %>
</p>
<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
