// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact_border{
  border: solid 2px black;
  td, th {
    border: solid 1px black;
  }
} 