<div>
    <h4><%= item.name_with_extra %></h4>
    <% unless item.child_items.empty? %>
        Subitems:
        <ul>
            <% item.child_items.each do |si| %>
                <li><%= si.name_with_extra %></li>
            <% end %>
        </ul>
    <% end %>
</div>