<!DOCTYPE html>
<html>
  <head>
    <title>Tomo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2><%= link_to 'Debug Home', root_path %></h2>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, class: "alert alert-#{key} alert-dismissable") do %>
        <%= value %>   
      <% end %> 
    <% end %>
    <hr/>
    <%= yield %>
  </body>
</html>
